<!DOCTYPE html>
<html>
  <%- include('common/head') %>
  <body>
    <%- include('common/header') %>
    <main>
      <h2>Contact</h2>
    </main>
    <%- include('common/footer') %>
  </body>
</html>
